---
import Cart from "./Cart.astro";

const propertyData = [
  {
    name: "Luxury Villa",
    price: "500",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "4.8",
  },
  {
    name: "Cozy Apartment",
    price: "150",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "4.5",
  },
  {
    name: "Modern Loft",
    price: "300",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "4.7",
  },
  {
    name: "Beach House",
    price: "700",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "4.9",
  },
  {
    name: "Penthouse Suite",
    price: "1000",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "5.0",
  },
  {
    name: "Penthouse Suite",
    price: "1000",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "5.0",
  },
  {
    name: "Penthouse Suite",
    price: "1000",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "5.0",
  },
  {
    name: "Penthouse Suite",
    price: "1000",
    para: "123 Luxury Lane, Beautiful City, CA 90001 USA",
    rating: "5.0",
  },
];
---

<div class="px-4 sm:px-6 lg:px-8">
  <!-- Section Header -->
  <section class="mb-8 mt-4 flex">
    <div class="w-full max-w-screen-xl">
      <h1
        class="lg:text-6xl mg:text-4xl mg:text-3xl text-2xl font-semibold text-center lg:flex lg:text-left capitalize mb-4 justify-start"
      >
        All the Best Residences <br /> From Us for You
      </h1>
      <div class="flex flex-col md:flex-row justify-between items-center gap-4">
        <p class="text-center md:text-left">
          We have developed a total of <!--{propertynumber}-->150+ properties
        </p>
        <button
          class="mt-4 px-6 py-2 border-[1px] border-black rounded-full hover:curser-pointer hover:bg-black hover:text-white transition-colors"
        >
          Let's See Our Property <!--Icon using Astro-->
        </button>
      </div>
    </div>
  </section>

  <!-- Property Grid -->
  <div class="w-full flex justify-center items-center">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 gap-y-6 max:w-[70%] mx-auto lg:gap-x-12 lg:ml-16"
    >
      {
        propertyData.map((property) => (
          <Cart
            name={property.name}
            price={property.price}
            para={property.para}
            rating={property.rating}
          />
        ))
      }
    </div>
  </div>
</div>
